
 @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

 *{
    font-family: "Fira Sans", serif;;
 }

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 105px;
}
 .nav h2 #footer h2{
    font-size: 25px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
}
 
.button{
 color: rgba(0, 106, 80, 1);
 padding: 13px 20px;
 font-size: 13px;
 font-weight: 600;
 border: 1px solid rgba(0, 106, 80, 1);
 border-radius: 8px;
}
.button:hover,.button2:hover{
    background-color: rgba(13, 44, 13, 0.845);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#cover{
   background-color: rgba(198, 228, 214, 1); 
   width: 1030px;
   margin: 0 auto;
   border-radius: 12px;
}

.one{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 70px 50px;
}

.two{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.idea{
    font-size: 45.5px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
    padding-right: 20px;
    margin: 10px 20px 25px 0;
}
.image img{
    width: 390px;
    height: 330px;
}
 .smallban{
    color: rgba(14, 14, 14, 0.5);
    font-size:17px ;
    font-weight:500 ;
    margin-bottom: 10px;
 }

 .button2{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 106, 80, 1);
    font-weight: 600;
    font-size: 13px;
    padding: 13px;
    border: none;
    border-radius:8px ;
 }
 #pillar{
    width: 1030px;
    margin: 70px auto;
 }
 .card{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 16px;
    margin-right: 18px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 10px;
 }
 .cardcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
   
   
 }
 .card img, .card2 img{
    height: 50px;
    width: 50px;
 }
  .card h2, .card2 h3,#yunus h3{
    font-size:16px ;
    font-weight:bold ;
    color:rgba(14, 14, 14, 0.8) ;

  }
  .card p,.card3 h3 ,#vision p,#yunus p,.aljazera p,#donate p,#subscribe p{
    font-size:12px ;
    font-weight:normal ;
    color: rgba(14, 14, 14, 0.7);
  }
  #pillar h1,#vision h1,#table h1,#donate h1,#subscribe h2,.aljazera h2{
    font-size:30px ;
    font-weight: bold;
    color:rgba(14, 14, 14, 1) ;
  }
  #vision{
    width: 1030px;
    margin: 70px auto;
    margin-bottom: 30px;
  }
  .card2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding:22px ;
    margin-right:18px ;
    border-radius: 10px;
    
  }
  .cardcon2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 22px;
  }
  .again1{
    background-color: rgba(84, 144, 245, 0.2);
  }
  .again2{
   background-color: rgba(198, 228, 214, 1)
  }
  .again3{
    background-color: rgba(247, 235, 207, 1);
  }
  #vision h1{
    margin-bottom: 17px;
  }
  .btn1,.btn2,.btn3{
    color: rgba(255, 255, 255, 1);
    font-size: 11px;
    font-weight: 600;
    padding: 8px 13px;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
  }
  .bone{ 
    background-color: rgba(84, 144, 245, 1);
  }
  .btwo{
    background-color: rgba(9, 161, 92, 1);
  }
  .bthree{
   background-color: rgba(255, 194, 57, 1);
  }
  .btn1:hover,.btn2:hover,.btn3:hover{
    color: aliceblue;
    background-color: rgb(90, 86, 47);
  }

  #yunus{
    width: 1030px;
    margin: 0px auto;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 10px;
  }
  .ycon{
    background-image: url("assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: top 14px left 20px;
    padding: 22px;
    background-size: 64px 64px;
  }
  
  #table td{
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
  }
  .taable{
    border-collapse: collapse;
    width:100%;
  }
#table thead{
    border: 1px solid rgba(14, 14, 14, 0.15);
    text-align: justify;
    background-color: rgba(198, 228, 214, 1);
}

 #table th{
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
 }
 #table{
    width: 1030px;
    margin:70px auto ;
 }
 .tabble{
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 30px;
    border-radius: 10px; 
 }
 .btn11{
    text-align: center;
   font-weight: 500;
 }
 .btn11 button{
    color: rgba(14, 14, 14, 1);
    background-color: rgba(9, 161, 92, 0.15);
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 6px 10px;
    border-radius: 4px;
 }


 .aljazera{
    width: 1030px;
    margin:50px auto ;
    
 }
 .news{
    padding: 32px;
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    flex-direction:row;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 10px;

 }
 .news img{
    border-radius: 12px;
    width: 330px;
    height: 242px;

 }

  .newstext{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 22px;
  }
  .newstext img{
    width: 112px;
    height: 34px;
    margin-top: 10px;
    margin-bottom: 8px;
  }
  .smallp{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap:8px;
    margin: 0;
  }
  
  .newstext h2{
     font-size:26px ;
    font-weight:bold ;
    color:rgba(14, 14, 14, 0.8) ;
    margin-top: 6px;
    margin-bottom: 0;
  }
  .aljazera p{
    margin-top: 0;
    margin-bottom: 22px;
  }
  .btnaj{
    color:rgba(255, 255, 255, 1) ;
    background-color:rgba(0, 106, 80, 1) ;
    padding: 13px 15px;
    font-size: 14px;
    font-weight:600 ;
    border-radius:8px ;
    border: none;
  }
  .btnaj:hover,#donate button:hover, #subscribe button:hover{
    color: black;
    background-color: darkcyan;
    cursor: pointer;
  }

  #donate{
    width: 1030px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .ccont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 860px;
   
  }
  .ccard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 195px;
    height: 110px;
    color: #ffffff;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 8px;
    margin: 22px 0;

  }
  .ccard:hover{
    background-color:rgba(198, 228, 214, 1) ;
  }
  #donate p{
    margin-top: 18px;
    text-align: center;
    width: 820px;
  }
  .today{
    margin: 0;
  }
  .input{
   text-align: center;
    width: 800px;
    padding: 10px;
    margin-bottom: 20px;
    color:rgba(14, 14, 14, 0.3) ;
    border:1px solid rgba(14, 14, 14, 0.15) ;

  }
  #donate button{
    color:#ffffff ;
    background-color:rgba(0, 106, 80, 1) ;
    padding:13px 17px ;
    font-size: 16px;
    font-weight:600 ;
    border-radius: 8px;
    border: none;
  }
  #subscribe{
    width: 1030px;
    background-color:rgba(198, 228, 214, 1);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    padding: 30px;

  }
  .email{
    margin: 22px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    
  }
  .last{
    padding: 13px 23px;
    border: none;
    width: 490px;
    border-radius: 10px 0px 0px 10px ;
    color: rgba(14, 14, 14, 0.3);
    margin: 0;
  }
  .buton{
    padding: 13px 23px;
    border: none;
    width: 125px;
    border-radius: 0px 10px 10px 0px;
    background-color: rgba(0, 106, 80, 1);
    color: #ffffff;
    font-size:13px ;
    font-weight:600 ;
    margin: 0;
    
  }
  #subscribe h2{
    margin-top: 10px;
    margin-bottom: 13px;
  }
  #subscribe p{
    margin-top: 0;
    margin-bottom: 10px;
    width: 500px;
    text-align: center;
  }


  #footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    border: 0.5px solid rgba(14, 14, 14, 0.1);
    border-left: none;
    border-right: none;
    padding: 35px;
  }
  
#footer h2{
    text-align: center;
    margin: 0;
}
  #footer hr{
    width: 972px;
    border: 0.7px solid rgba(14, 14, 14, 0.1) ;
    margin: 20px 0;
  }
  #footer img{
    height: 18px;
    width: 18px;
  }



  
  